.App{
  width: 720px;
  margin: auto;
}

.grid-container{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid-container .grid-button{
  background-color: #b4b4b4;
  padding: 20px 10px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #000;
}

.grid-container .grid-button.equal-button{
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 6;
  background-color: #ffa500;
}

.grid-container .grid-button.zero-button{
  grid-row-start: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.output{
  padding: 25px 10px;
  background-color: rgb(41, 41, 41);
  color: #FFF;
  text-align: right;
}